<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ReportMapper">

    <select id="findByReportId" resultType="Report">
        SELECT * FROM reports
        WHERE report_id = #{reportId}
    </select>

    <insert id="create">
        INSERT INTO reports(
            report_id, report)
            VALUES(
                #{reportId}, #{report}
            )
    </insert>

    <update id="update">
        UPDATE reports SET
        report = #{report}
        WHERE report_id = #{reportId}
    </update>

</mapper>